---
import { formatDate } from "@/lib/date-helper";

import { ButtonLink } from "@/components/ButtonLink";
import TextElement from "@/components/TextElement";

import type { DirectiveType } from "@/content/content.type";
import type { SupportedLanguage } from "@/i18n/ui";

interface Props {
  title: string;
  body: string;
  date: string;
  lang: SupportedLanguage;
  file: string;
  type: DirectiveType;
}

const { title, lang, date, file, type } = Astro.props as Props;

const absoluteFileUrl = new URL(file, Astro.url.origin).href;
---

<article
  class="flex h-full flex-col rounded-lg border bg-card p-5 text-card-foreground shadow-sm"
>
  <div class="flex grow flex-col gap-2">
    <time
      class="text-left text-mptc-secondary-foreground"
      datetime={new Date(date).toISOString()}
    >
      {formatDate(date, lang)}
    </time>
    <TextElement
      variant="subheading"
      className="line-clamp-4 scroll-m-20 text-pretty text-base font-normal leading-6 tracking-tight lg:text-base xl:text-base"
    >
      {title}
    </TextElement>
  </div>
  <div class="pt-5">
    <ButtonLink
      href={absoluteFileUrl}
      className="w-full"
      aria-label={`(opens in a new tab) Read full ${type} on ${title}`}
      target="_blank"
      rel="noopener noreferrer"
    >
      Read full document
    </ButtonLink>
  </div>
</article>
