@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kantumruy Pro";
  font-weight: 100 700;
  font-display: optional;
  src:
    url("/assets/fonts/kantumruypro.woff2") format("woff2"),
    url("/assets/fonts/kantumruypro.woff") format("woff");
}

@layer base {
  :root {
    --background: 215 0% 100%;
    --foreground: 215 0% 10%;
    --card: 215 0% 100%;
    --card-foreground: 215 0% 15%;
    --popover: 215 0% 100%;
    --popover-foreground: 215 95% 10%;
    --primary: 215 61.6% 28.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 177 10% 95%;
    --muted-foreground: 215 0% 40%;
    --accent: 177 10% 90%;
    --accent-foreground: 215 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 215 0% 100%;
    --border: 215 20% 82%;
    --input: 215 20% 50%;
    --ring: 215 61.6% 28.6%;
    --radius: 0.5rem;

    --mptc-secondary: 0, 86%, 53%;
    --mptc-secondary-foreground: 0, 86%, 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
