@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 221.2 100% 95%;
    --foreground: 221.2 5% 0%;
    --card: 221.2 50% 90%;
    --card-foreground: 221.2 5% 10%;
    --popover: 221.2 100% 95%;
    --popover-foreground: 221.2 100% 0%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221.2 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 183.2 30% 85%;
    --muted-foreground: 221.2 5% 35%;
    --accent: 183.2 30% 80%;
    --accent-foreground: 221.2 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 221.2 5% 90%;
    --border: 221.2 30% 50%;
    --input: 221.2 30% 18%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 221.2 50% 5%;
    --foreground: 221.2 5% 90%;
    --card: 221.2 50% 0%;
    --card-foreground: 221.2 5% 90%;
    --popover: 221.2 50% 5%;
    --popover-foreground: 221.2 5% 90%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221.2 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 183.2 30% 15%;
    --muted-foreground: 221.2 5% 60%;
    --accent: 183.2 30% 15%;
    --accent-foreground: 221.2 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 221.2 5% 90%;
    --border: 221.2 30% 18%;
    --input: 221.2 30% 18%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
