---
import ImageCarousel from "@/components/page/home/carousel/ImageCarousel";
---

<section aria-label="Carousel">
  <div class="relative h-[350px] w-full md:h-[450px]">
    <ImageCarousel client:load />
  </div>
</section>
