---
import TextElement from "../../TextElement";
import { type SupportedLanguage } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";

const lang = Astro.currentLocale as SupportedLanguage;
const t = useTranslations(lang);
---

<div class="">
  <TextElement variant="body">
    {t("structure.deputySecretaryGeneral.text")}
  </TextElement>
  <ul class="m-2 list-disc pl-4">
    <li>
      <TextElement variant="body">
        {t("structure.deputySecretaryGeneral.point1")}
      </TextElement>
    </li>
    <li>
      <TextElement variant="body">
        {t("structure.deputySecretaryGeneral.point2")}
      </TextElement>
    </li>
    <li>
      <TextElement variant="body">
        {t("structure.deputySecretaryGeneral.point3")}
      </TextElement>
    </li>
    <li>
      <TextElement variant="body">
        {t("structure.deputySecretaryGeneral.point4")}
      </TextElement>
    </li>
    <li>
      <TextElement variant="body">
        {t("structure.deputySecretaryGeneral.point5")}
      </TextElement>
    </li>
    <li>
      <TextElement variant="body">
        {t("structure.deputySecretaryGeneral.point6")}
      </TextElement>
    </li>
    <li>
      <TextElement variant="body">
        {t("structure.deputySecretaryGeneral.point7")}
      </TextElement>
    </li>
  </ul>
</div>
