---
import TextElement from "../../TextElement";

const deputySecretaryGeneralList = [
  {
    text: "One Deputy Secretary General in charge of the Cambodia Cybersecurity Unit that represents Ministry of Post and Telecommunications.",
  },
  {
    text: "One Deputy Secretary General in charge of the Anti-Cybercrime Unit that represents the Ministry of Interior.",
  },
  {
    text: "One Deputy Secretary General in charge of the National Cyberspace Defense Unit that represents the Ministry of the National Defense.",
  },
  {
    text: "One Deputy Secretary General in charge of the Cyber Diplomatic Unit that represents the Ministry of Foreign Affairs and International Cooperation.",
  },
  {
    text: "One Deputy Secretary General in charge of the Secretariat that represents the Ministry of Post and Telecommunications.",
  },
  {
    text: "Other Deputy Secretaries General, as necessary, that represent relevant ministries-institutions.",
  },
  {
    text: "The Secretary General and the Deputy Secretaries General shall be appointed by a decision of the Royal Government at the request of the Minister of the Ministry of Post and Telecommunications.",
  },
];
---

<div class="">
  <TextElement variant="body">
    The General Secretariat of the D.S.C. has the following Deputy Secretaries
    General:
  </TextElement>
  <ul class="m-2 list-disc pl-4">
    {
      deputySecretaryGeneralList.map((deputySecretaryGeneral) => (
        <li>
          <TextElement variant="body">
            {deputySecretaryGeneral.text}
          </TextElement>
        </li>
      ))
    }
  </ul>
</div>
