---
import TextElement from "../../TextElement";
import { type SupportedLanguage } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";

const lang = Astro.currentLocale as SupportedLanguage;
const t = useTranslations(lang);
---

<div class="">
  <TextElement variant="body" className="mt-2">
    {t("structure.roleText")}
  </TextElement>
  <ul class="m-2 list-disc pl-4">
    <li>
      <TextElement variant="body">{t("structure.role.point1")}</TextElement>
    </li>
    <li>
      <TextElement variant="body">{t("structure.role.point2")}</TextElement>
    </li>
    <li>
      <TextElement variant="body">{t("structure.role.point3")}</TextElement>
    </li>
    <li>
      <TextElement variant="body">{t("structure.role.point4")}</TextElement>
    </li>
    <li>
      <TextElement variant="body">{t("structure.role.point5")}</TextElement>
    </li>
    <li>
      <TextElement variant="body">{t("structure.role.point6")}</TextElement>
    </li>
    <li>
      <TextElement variant="body">{t("structure.role.point7")}</TextElement>
    </li>
    <li>
      <TextElement variant="body">{t("structure.role.point8")}</TextElement>
    </li>
  </ul>
</div>
