---
import TextElement from "@/components/TextElement";
---

<div class="grid min-h-96 grid-cols-1 place-items-center gap-6 pt-12">
  <div class="h-full rounded-lg border bg-card text-card-foreground shadow-sm">
    <div class="flex flex-col justify-center gap-4 p-6">
      <TextElement variant="smallheading">
        I. Building Reliability and Confidence in Digital System: Establishing a
        Legal Framework and Strengthening Cybersecurity Management
      </TextElement>
      <ul class="list-disc pl-6">
        <li>
          <TextElement variant="body" className="grow text-pretty"
            >The Legal Framework focuses on (1). preparation of laws and
            regulations for the digital economy and society shall be
            full-fledged and play a role in creating favorable conditions for
            building an ecosystem of a digital economy and society and
            cultivating the trust of stakeholders and (2). the enforcement will
            be undertaken in a light touch approach to promote the participation
            in the system and encourage the digital economy and society to begin
            to function and grow gradually.</TextElement
          >
        </li>
        <li>
          <TextElement variant="body" className="grow text-pretty"
            >Strengthening the management of digital security focuses on (1).
            strengthening the effectiveness of cybersecurity management and (2).
            raising awareness of digital related threats to especially
            cybersecurity threats.</TextElement
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="h-full rounded-lg border bg-card text-card-foreground shadow-sm">
    <div class="flex flex-col justify-center gap-4 p-6">
      <TextElement variant="smallheading">
        II. Building Digital Government: Digital government and Public Services
        through continued enabling ownership and accountability of IT systems by
        key line ministries and the development of common standards on technical
        specification for implementation at line ministries Keys to boosting
        digital performance; and Data-driven Governance
      </TextElement>
      <ul class="list-disc pl-6">
        <li>
          <TextElement variant="body" className="grow text-pretty"
            >Digital Government and Public Services focuses on (1). further
            modernization of existing digital services, (2). creation of
            digitally prioritized public services, and (3). introduction of
            digital public service consideration in creating public services
            that fit the needs of users and the communications within government
            agencies or institutions.</TextElement
          >
        </li>
        <li>
          <TextElement variant="body" className="grow text-pretty"
            >Develop joint measures on cybersecurity and data safety to
            strengthen protection, prevention and response mechanisms against
            cybersecurity threats</TextElement
          >
        </li>
      </ul>
    </div>
  </div>
</div>
