---
import TextElement from "@/components/TextElement";

import heroImage from "../../../static/Hero.png";
import { Image } from "astro:assets";

interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<header class="relative h-[450px] w-full">
  <Image
    src={heroImage}
    alt=""
    class="absolute inset-0 size-full object-cover"
    loading="eager"
    quality="high"
    widths={[640, 768, 1024, 1280, 1440, 1600]}
    sizes="100vw"
    format="webp"
  />
  <div class="absolute inset-0 bg-black opacity-85"></div>
  <div class="absolute inset-0 flex items-center justify-center">
    <div class="container text-center text-primary-foreground">
      <TextElement variant="heading">{title}</TextElement>
      <TextElement variant="body">{subtitle}</TextElement>
    </div>
  </div>
</header>
