---
import TextElement from "@/components/TextElement";

import heroImage from "../../../static/Hero.png";
import { Image } from "astro:assets";

interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<header
  class="relative flex h-[450px] w-full items-center justify-center text-balance text-center"
>
  <Image
    src={heroImage}
    alt=""
    class="absolute inset-0 size-full object-cover"
    loading="eager"
    quality={80}
    widths={[640, 768, 1024, 1280, 1536, 1920]}
    sizes="100vw"
  />
  <div class="absolute inset-0 bg-black opacity-85" aria-hidden="true"></div>
  <div
    class="container relative z-10 flex flex-col gap-5 text-center text-primary-foreground"
  >
    <TextElement variant="heading">{title}</TextElement>
    <TextElement variant="body">{subtitle}</TextElement>
  </div>
</header>
