---
import TextElement from "@/components/TextElement";

import heroImage from "../../../static/Hero.png";
import { Image } from "astro:assets";

interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<header class="relative flex h-[450px] items-center justify-center">
  <Image
    src={heroImage}
    alt="Hero background"
    class="absolute inset-0 size-full object-cover"
    loading={"eager"}
  />
  <div class="absolute inset-0 bg-black opacity-80" aria-hidden="true"></div>
  <div
    class="container relative z-10 flex flex-col gap-5 text-center text-white"
  >
    <TextElement variant="heading">{title}</TextElement>
    <TextElement variant="body">{subtitle}</TextElement>
  </div>
</header>
