---
import TextElement from "@/components/TextElement";

import heroImage from "../../../static/Hero.png";
import { Image } from "astro:assets";

interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<section aria-label="Hero">
  <div class="relative h-[350px] w-full md:h-[450px]">
    <Image
      src={heroImage}
      alt=""
      class="absolute inset-0 size-full object-cover"
      loading="eager"
      quality="high"
      widths={[640, 768, 1024, 1280, 1440, 1600]}
      sizes="100vw"
      format="webp"
    />
    <div class="absolute inset-0 bg-black opacity-85" aria-hidden="true"></div>
    <div class="absolute inset-0 flex items-center justify-center">
      <div class="container text-center text-primary-foreground">
        <TextElement variant="heading">{title}</TextElement>
        <TextElement variant="body">{subtitle}</TextElement>
      </div>
    </div>
  </div>
</section>
