---
import TextElement from "../../TextElement";
import MissionImage from "@/asset/about/mission.png";
import { type SupportedLanguage } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
import { Image } from "astro:assets";

const lang = Astro.currentLocale as SupportedLanguage;
const t = useTranslations(lang);
---

<div class="flex flex-col gap-8 md:flex-row-reverse">
  <div class="w-full md:w-2/5">
    <div class="flex h-[320px] items-center justify-center md:h-auto">
      <Image
        src={MissionImage}
        alt="mission of D.S.C."
        class="size-full max-w-96 object-cover"
        loading="eager"
        quality="high"
        widths={[640, 768, 1024, 1280, 1440, 1600]}
        format="webp"
      />
    </div>
  </div>
  <div class="w-full md:w-3/5">
    <TextElement
      variant="subheading"
      id="mission"
      className="pt-4 text-primary"
    >
      {t("about.mission")}
    </TextElement>
    <TextElement variant="body" className="mt-2">
      {t("about.mission.text")}
    </TextElement>
    <ul class="mt-2 list-disc pl-4">
      <li>
        <TextElement variant="body">
          {t("about.mission.point1")}
        </TextElement>
      </li>
      <li>
        <TextElement variant="body">
          {t("about.mission.point2")}
        </TextElement>
      </li>
      <li>
        <TextElement variant="body">
          {t("about.mission.point3")}
        </TextElement>
      </li>
      <li>
        <TextElement variant="body">
          {t("about.mission.point4")}
        </TextElement>
      </li>
    </ul>
  </div>
</div>
