---
import LottieAnimation from "../../lottie/LottieAnimation";
import TextElement from "../../TextElement";

const missionList = [
  {
    text: "Intercommunicate and complement closely with the Digital Government Committee and Digital Economy and Business Committee to ensure a successful implementation of the Cambodia Digital Economy and Society Policy Framework 2021 – 2035 and Digital Government Policy 2022-2035.",
  },
  {
    text: "Act as a policy maker to review and decide on proposal for revision and/or amendment of laws, regulations, and policies related to digital security.",
  },
  {
    text: "Act as coordinator of national and international cooperation related to digital security.",
  },
  {
    text: "Mobilize financial, technical, and human resources with aim of building and developing Cambodia’s digital security.  ",
  },
];
---

<div class="flex flex-col gap-8 md:flex-row-reverse">
  <div class="w-full md:w-2/5">
    <div class="h-[320px] md:h-auto">
      <LottieAnimation animationType="mission" client:idle />
    </div>
  </div>
  <div class="w-full md:w-3/5">
    <TextElement
      variant="subheading"
      id="mission"
      className="pt-4 text-primary"
    >
      Mission
    </TextElement>
    <TextElement variant="body" className="mt-2">
      To ensure a vibrant digital economy and Digital Security of the Kingdom of
      Cambodia, The Digital Security Committee (D.S.C.) has the mission:
    </TextElement>
    <ul class="mt-2 list-disc pl-4">
      {
        missionList.map((mission) => (
          <li>
            <TextElement variant="body">{mission.text}</TextElement>
          </li>
        ))
      }
    </ul>
  </div>
</div>
