---
import LottieAnimation from "../../lottie/LottieAnimation";
import TextElement from "../../TextElement";
---

<div class="flex flex-col gap-8 md:flex-row">
  <div class="w-full md:w-2/5">
    <div class="h-[320px] md:h-auto">
      <LottieAnimation animationType="vision" client:idle />
    </div>
  </div>
  <div class="w-full md:w-3/5">
    <TextElement variant="subheading" id="vision" className="pt-4">
      Vision
    </TextElement>
    <TextElement variant="body" className="text-pretty pt-4">
      It has survived not only five centuries, but also the leap into electronic
      typesetting, remaining essentially unchanged. It was popularised in the
      1960s with the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus PageMaker
      including versions of Lorem Ipsum.
    </TextElement>
  </div>
</div>
