---
import TextElement from "../../TextElement";
import VisionImage from "@/asset/about/vision.png";
import { type SupportedLanguage } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
import { Image } from "astro:assets";

const lang = Astro.currentLocale as SupportedLanguage;
const t = useTranslations(lang);
---

<div class="flex flex-col gap-8 md:flex-row">
  <div class="w-full md:w-2/5">
    <div class="flex h-[320px] items-center justify-center md:h-auto">
      <Image
        src={VisionImage}
        alt="mission of D.S.C."
        class="size-full max-w-96 object-cover"
        loading="eager"
        quality="high"
        widths={[640, 768, 1024, 1280, 1440, 1600]}
        format="webp"
      />
    </div>
  </div>
  <div class="w-full md:w-3/5">
    <TextElement variant="subheading" id="vision" className="mt-2 text-primary">
      {t("about.vision")}
    </TextElement>
    <TextElement variant="body" className="mt-2 text-justify">
      {t("about.vision.text")}
    </TextElement>
    <ul class="mt-2 list-disc pl-4">
      <li>
        <TextElement variant="body" className="text-justify">
          {t("about.vision.point1")}
        </TextElement>
      </li>
      <li>
        <TextElement variant="body" className="text-justify">
          {t("about.vision.point2")}
        </TextElement>
      </li>
      <li>
        <TextElement variant="body" className="text-justify">
          {t("about.vision.point3")}
        </TextElement>
      </li>
      <li>
        <TextElement variant="body" className="text-justify">
          {t("about.vision.point4")}
        </TextElement>
      </li>
      <li>
        <TextElement variant="body" className="text-justify">
          {t("about.vision.point5")}
        </TextElement>
      </li>
    </ul>
  </div>
</div>
