---
import { InvalidArticleFilenameError } from "@/lib/error/article-error";

import Main from "@/components/Main.astro";

import { supportedLanguages, type SupportedLanguage } from "@/i18n/ui";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const pages = await getCollection("articles");

  const paths = pages.map((page) => {
    const [slug, lang] = page.slug.split("/");

    if (!supportedLanguages.includes(lang as SupportedLanguage)) {
      throw new InvalidArticleFilenameError(
        page.slug,
        lang,
        supportedLanguages,
      );
    }

    return { params: { lang, slug }, props: page };
  });

  return paths;
}

const page = Astro.props;

const { Content } = await page.render();
---

<Layout title={page.data.title}
  ><Main>
    <div class="prose mx-auto text-pretty">
      <Content />
    </div>
  </Main>
</Layout>
