---
import Main from "@/components/Main.astro";
import ProseWrapper from "@/components/ProseWrapper.astro";
import TextElement from "@/components/TextElement";

import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const pages = await getCollection("articles");

  const paths = pages.map((page) => {
    const [lang, slug] = page.slug.split("/");
    const path = { params: { lang, slug }, props: page };
    return path;
  });

  return paths;
}

const page = Astro.props;

const { Content } = await page.render();
---

<Layout title={page.data.title}>
  <Main>
    <ProseWrapper slug={page.slug}>
      <Image
        src={page.data.image}
        alt={page.data.title || "Article image"}
        class="w-full rounded-lg"
        transition:persist
      />

      <TextElement variant="subheading" className="mt-0"
        >{page.data.title}</TextElement
      >
      <Content />
    </ProseWrapper>
  </Main>
</Layout>
