---
import Main from "@/components/Main.astro";
import ProseWrapper from "@/components/ProseWrapper.astro";
import TextElement from "@/components/TextElement";

import type { SupportedLanguage } from "@/i18n/ui";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const pages = await getCollection("articles");

  return pages.map((page) => {
    const [lang, slug] = page.slug.split("/");
    return { params: { lang, slug }, props: { page } };
  });
}

const { page } = Astro.props;
const {
  params: { lang },
} = Astro;
const { Content } = await page.render();
---

<Layout title={page.data.title}>
  <Main>
    <ProseWrapper slug={page.slug} lang={lang as SupportedLanguage}>
      <article>
        <header>
          <TextElement variant="heading" className="text-center">
            {page.data.title}
          </TextElement>
          <figure>
            <Image
              src={page.data.image}
              alt={page.data.title || "Article image"}
              class="w-full rounded-lg"
              loading="eager"
            />
          </figure>
        </header>
        <Content />
      </article>
    </ProseWrapper>
  </Main>
</Layout>
