---
import { Heading } from "@/components/Heading";
import Main from "@/components/Main.astro";

import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const articles = await getCollection("articles");

console.log(articles);
---

<Layout title="Articles">
  <Main>
    <Heading as="h1" size="xl"> This is a heading </Heading>
    {
      articles.map((article) => (
        <Heading as="h2" size="lg">
          {article.data.title}
        </Heading>
      ))
    }
  </Main>
</Layout>
