---
import Card from "./Card.astro";
import type { SupportedLanguage } from "@/i18n/ui";
import { removeLanguagePrefix } from "@/i18n/utils";
import type { CollectionEntry } from "astro:content";

interface Props {
  articles: CollectionEntry<"articles">[];
  lang: SupportedLanguage;
}

const { articles, lang } = Astro.props;

console.log(articles);
---

<div class="grid grid-cols-1 gap-5 p-5 md:grid-cols-2 lg:grid-cols-3">
  {
    articles.map((article) => (
      <Card
        image={article.data.image}
        title={article.data.title}
        body={article.body}
        href={removeLanguagePrefix(article.slug, lang)}
      />
    ))
  }
</div>
