---
import { ButtonLink } from "./ButtonLink";
import TextElement from "./TextElement";
import { AspectRatio } from "./ui/aspect-ratio";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  image: ImageMetadata;
  body: string;
  href: string;
}

const { title, body, href, image } = Astro.props as Props;
---

<div
  class="overflow-hidden rounded-lg bg-white shadow-md transition-shadow duration-300 hover:shadow-lg"
>
  <div class="flex flex-col gap-2 p-4">
    <AspectRatio ratio={16 / 9}>
      <Image src={image} alt="" class="w-full rounded-lg" />
    </AspectRatio>
    <TextElement variant="smallheading">
      {title}
    </TextElement>
    <TextElement className="line-clamp-4 text-card-foreground">
      {body}
    </TextElement>
    <ButtonLink href={href}> Read more </ButtonLink>
  </div>
</div>
