---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<div
  class="overflow-hidden rounded-lg bg-white shadow-md transition-shadow duration-300 hover:shadow-lg"
>
  <a href={href} class="block p-6">
    <h2 class="mb-2 text-xl font-bold text-gray-800">
      {title}
    </h2>
    <p class="text-gray-600">
      {body}
    </p>
  </a>
</div>
