---
import { getLocalizedRoutes, NavRoutes } from "@/lib/route";

import OtherLinks from "./footer/OtherLinks";
import SocialMedia from "./footer/SocialMedia";
import { defaultLang } from "@/i18n/ui";

const locale = Astro.currentLocale ?? defaultLang;

const navigationItems = getLocalizedRoutes(NavRoutes, locale);
---

<footer class="bg-primary text-primary-foreground">
  <div class="container max-w-screen-2xl px-4 py-12 lg:py-16">
    <div class="flex flex-col gap-12 lg:flex-row lg:justify-between">
      <div class="flex flex-col items-center lg:w-1/4 lg:items-start">
        <a href="/" class="mb-6 inline-block">
          <div
            class="flex size-28 items-center justify-center rounded-full bg-blue-500"
          >
            <span class="text-4xl font-bold text-primary-foreground">DSC</span>
          </div>
        </a>

        <SocialMedia />
      </div>
      <div class="grid gap-12 lg:w-3/4 lg:grid-cols-3">
        <nav>
          <h2 class="mb-4 text-lg font-semibold">Quick Links</h2>
          <ul class="space-y-3">
            {
              navigationItems.map((item) =>
                item.href ? (
                  <li>
                    <a href={item.href} class="hover:underline">
                      {item.label}
                    </a>
                  </li>
                ) : item.children ? (
                  <li>
                    <a href={item.children[0]?.href} class="hover:underline">
                      {item.label}
                    </a>
                  </li>
                ) : (
                  ""
                ),
              )
            }
          </ul>
        </nav>
        <address class="not-italic">
          <h2 class="mb-4 text-lg font-semibold">Contact</h2>
          <ul class="space-y-3">
            <li>
              <a href="tel:+85594858349751" class="hover:underline">
                Tel: +855 94 85834 975
              </a>
            </li>
            <li>
              <a href="mailto:example@gmail.com" class="hover:underline">
                Email: example@gmail.com
              </a>
            </li>
            <li>
              <a
                href="https://goo.gl/maps/7S8TwSuD47Ee8MG26"
                target="_blank"
                rel="noopener noreferrer"
                class="hover:underline"
              >
                Address: Building 13, Monivong Blvd, Sangkat Srah Chak, Khan
                Daun Penh Phnom Penh, Cambodia, 120210
              </a>
            </li>
          </ul>
        </address>

        <OtherLinks />
      </div>
    </div>
  </div>
</footer>
