---
import { getLocalizedRoutes, Routes } from "@/lib/route";

import LanguageSwitcher from "./LanguageSwitcher";
import { defaultLang, type SupportedLanguage } from "@/i18n/ui";

const locale = Astro.currentLocale;
const currentPath = Astro.url.pathname;

export const routes = {
  about: { href: Routes.About, label: "Articles" },
  projects: { href: Routes.Projects, label: "Projects" },
  contact: { href: Routes.Contact, label: "Contact" },
};

const links = getLocalizedRoutes(
  [routes.about, routes.projects, routes.contact],
  locale ?? defaultLang,
);
---

<nav class="bg-primary text-primary-foreground">
  <div class="container sticky top-0 z-50 mx-auto flex max-w-screen-2xl p-8">
    <a href={Routes.Home}>
      <div class="text-lg font-bold">
        <div>LOGO</div>
      </div>
    </a>
    <div class="grow"></div>
    <ul class="flex space-x-4">
      {
        links.map((link) => (
          <li>
            <a href={link.href}>{link.label}</a>
          </li>
        ))
      }
      <li>
        <LanguageSwitcher
          currentPath={currentPath}
          initialLocale={locale as SupportedLanguage}
          client:load
        />
      </li>
    </ul>
  </div>
</nav>
