---
import { getLocalizedRoutes, NavRoutes } from "@/lib/route";

import MobileNavMenu from "@/components/header/MobileNavMenu";
import NavMenu from "@/components/header/NavMenu";

import { ButtonLink } from "./ButtonLink";
import LanguageSwitcher from "./LanguageSwitcher";
import { defaultLang, type SupportedLanguage } from "@/i18n/ui";
import { getRelativeLocaleUrl } from "astro:i18n";

const locale = Astro.currentLocale ?? defaultLang;
const currentPath = Astro.url.pathname;

const navigationItems = getLocalizedRoutes(NavRoutes, locale);
---

<a
  class="absolute left-0 m-3 -translate-y-16 bg-primary p-3 text-primary-foreground transition focus:translate-y-0"
  href="#main-content">Skip Navigation</a
>
<nav class="bg-primary-foreground shadow-md" aria-label="Main navigation">
  <div class="container mx-auto flex max-w-screen-2xl gap-4 p-6">
    <a href={getRelativeLocaleUrl(locale)} aria-label="Go to home page">
      <div class="text-lg font-bold">
        <div>LOGO</div>
      </div>
    </a>
    <div class="grow"></div>
    <NavMenu navMenuItem={navigationItems} client:load />
    <div class="flex p-2 align-middle">
      <LanguageSwitcher
        currentPath={currentPath}
        initialLocale={locale as SupportedLanguage}
        client:load
      />
    </div>
    <MobileNavMenu navMenuItem={navigationItems} client:load />
    <ButtonLink
      href="https://www.camcert.gov.kh/en/report-incident/"
      target="_blank"
      className="hidden lg:block"
    >
      Report Incident
    </ButtonLink>
  </div>
</nav>
