---
import { getLocalizedRoutes, Routes } from "@/lib/route";

import MobileNavMenu from "@/components/header/MobileNavMenu";
import NavMenu from "@/components/header/NavMenu";

import LanguageSwitcher from "./LanguageSwitcher";
import { defaultLang, type SupportedLanguage } from "@/i18n/ui";
import { getRelativeLocaleUrl } from "astro:i18n";

const locale = Astro.currentLocale ?? defaultLang;
const currentPath = Astro.url.pathname;

export const routes = [
  { label: "Home", href: Routes.Home },
  {
    label: "About Us",
    children: [
      { label: "About DSC", href: Routes.About },
      { label: "Structure", href: Routes.Structure },
      { label: "DSC's Leader", href: Routes.Leader },
    ],
  },
  {
    label: "Media Hub",
    children: [
      { label: "Royal Degrees", href: Routes.RoyalDecrees },
      { label: "Sub Degrees", href: Routes.SubDecrees },
      { label: "Policies", href: Routes.Policies },
      { label: "Decisions", href: Routes.Decisions },
      { label: "Videos", href: Routes.Videos },
    ],
  },
  { label: "New & Events", href: Routes.Aritcles },
  { label: "Cybersecurity Tips", href: Routes.Contact },
];
const navigationItems = getLocalizedRoutes(routes, locale);
---

<a
  class="absolute left-0 m-3 -translate-y-16 bg-primary p-3 text-primary-foreground transition focus:translate-y-0"
  href="#main-content">Skip Navigation</a
>
<nav class="bg-primary-foreground shadow-md" aria-label="Main navigation">
  <div class="container mx-auto flex max-w-screen-2xl p-6">
    <a
      href={getRelativeLocaleUrl(locale, Routes.Home)}
      aria-label="Go to home page"
    >
      <div class="text-lg font-bold">
        <div>LOGO</div>
      </div>
    </a>
    <div class="grow"></div>
    <NavMenu navMenuItem={navigationItems} client:load />
    <div class="flex ps-2 align-middle">
      <LanguageSwitcher
        currentPath={currentPath}
        initialLocale={locale as SupportedLanguage}
        client:load
      />
    </div>
    <MobileNavMenu navMenuItem={navigationItems} client:load />
  </div>
</nav>
