---
import { getArticleUrl } from "@/lib/route";

import type { SupportedLanguage } from "@/i18n/ui";

interface Props {
  slug: string;
  lang: SupportedLanguage;
}

const { slug, lang } = Astro.props;

const transition = getArticleUrl(slug, lang);
---

<div class="prose mx-auto max-w-5xl text-pretty" transition:name={transition}>
  <slot />
</div>
