---
import ArticleList from "@/components/ArticleList.astro";
import Main from "@/components/Main.astro";
import TextElement from "@/components/TextElement";

import { languages } from "@/i18n/ui";
import type { SupportedLanguage } from "@/i18n/ui";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

// Function to generate static paths for each supported language
export function getStaticPaths() {
  return Object.values(languages).map((lang) => ({ params: { lang } }));
}

// Get the current locale from Astro
const lang = Astro.currentLocale as SupportedLanguage;

// Fetch articles collection, filtering by language in frontmatter
const articles = await getCollection("articles", ({ data }) => {
  return data.lang === lang;
});

const title = "Articles";
---

<Layout title={title}>
  <Main>
    <TextElement variant="heading" className="text-primary">{title}</TextElement
    >
    <ArticleList articles={articles} lang={lang} />
  </Main>
</Layout>
