---
import Card from "@/components/Card.astro";
import Main from "@/components/Main.astro";
import TextElement from "@/components/TextElement";

import { languages } from "@/i18n/ui";
import type { SupportedLanguage } from "@/i18n/ui";
import { removeLanguagePrefix } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

// Function to generate static paths for each supported language
export function getStaticPaths() {
  return Object.values(languages).map((lang) => ({ params: { lang } }));
}

// Get the current locale from Astro
const lang = Astro.currentLocale as SupportedLanguage;

// Fetch articles collection, filtering by language in frontmatter
const articles = await getCollection("articles", ({ data }) => {
  return data.lang === lang;
});
---

<Layout title="Articles">
  <Main>
    <TextElement variant="heading">This is a heading</TextElement>
    {
      articles.map((article) => (
        <Card
          title={article.data.title}
          body={article.body}
          href={removeLanguagePrefix(article.slug, lang)}
        />
      ))
    }
  </Main>
</Layout>
