---
import LawGird from "@/components/LawGird.astro";
import Hero from "@/components/page/home/Hero.astro";
import HomeMain from "@/components/page/home/HomeMain.astro";
import TextElement from "@/components/TextElement";
import WhatWeDoGrid from "@/components/WhatWeDoGird";

import { languages } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";

export function getStaticPaths() {
  return Object.values(languages).map((lang) => ({ params: { lang } }));
}

const lang = Astro.currentLocale;
const t = useTranslations(lang);
---

<Layout title={`Welcome to Astro - ${lang}`}>
  <HomeMain>
    <section aria-label="hero-section" class="text-balance text-center">
      <Hero
        title="It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages."
        subtitle="It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
      />
    </section>
    <div class="container flex flex-col items-center px-24 py-8 max-sm:p-5">
      <section aria-label="what-we-do-title">
        <TextElement
          id="what-we-do-title"
          variant="subheading"
          className="text-center"
        >
          {t("home.whatwedo")}
        </TextElement>
        <WhatWeDoGrid />
        <TextElement
          id="royal-degree-title"
          variant="subheading"
          className="text-center"
        >
          {t("home.royal-degree")}
        </TextElement>
      </section>
    </div>
  </HomeMain>
</Layout>
