---
import Main from "@/components/Main.astro";
import TextElement from "@/components/TextElement";
import WhatWeDoGrid from "@/components/WhatWeDoGird";

import { languages } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";

export function getStaticPaths() {
  return Object.values(languages).map((lang) => ({ params: { lang } }));
}

const lang = Astro.currentLocale;
const t = useTranslations(lang);
---

<Layout title={`Welcome to Astro - ${lang}`}>
  <Main>
    <h1 class="text-3xl font-bold underline">{t("home.whatwedo")}</h1>
    <section>
      <TextElement variant="subheading" className="text-center">
        {t("home.whatwedo")}
      </TextElement>
      <WhatWeDoGrid />
    </section>
  </Main>
</Layout>
