---
import Main from "@/components/Main.astro";
import AboutList from "@/components/page/about/AboutList.astro";
import Mission from "@/components/page/home/Mission.astro";
import Vision from "@/components/page/home/Vison.astro";
import TextElement from "@/components/TextElement";

import { ABOUT_TYPES } from "@/content/about.type";
import { languages, type SupportedLanguage } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
import OrganizationLayout from "@/layouts/OrganizationLayout.astro";
import { getCollection } from "astro:content";
import enAboutUs from "src/static/about-us/en-about-us.webp";
import kmAboutUs from "src/static/about-us/km-about-us.webp";

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
}

const lang = Astro.params.lang as SupportedLanguage;
const t = useTranslations(lang);
const allAbouts = await getCollection("abouts");
const abouts = allAbouts.filter((about) => about.data.lang === lang);
const roles = abouts.filter((about) => about.data.type === ABOUT_TYPES.ROLE);

const langImages = {
  en: enAboutUs,
  km: kmAboutUs,
};

const currentImage = langImages[lang] || enAboutUs;

const title = "Explore DSC";
const description =
  "Learn about the Digital Security Committee's strategic goals, roles, and responsibilities in developing Cambodia's digital government policy for 2022-2035.";
---

<OrganizationLayout
  title={title}
  description={description}
  image={currentImage.src}
>
  <Main>
    <div class="flex flex-col gap-12 py-8">
      <section aria-label={"about dsc"}>
        <header>
          <TextElement
            variant="heading"
            className="pb-6 text-center text-primary lg:text-3xl"
          >
            {t("about.dsc")}
          </TextElement>
          <TextElement variant="body" className="pb-6 text-justify">
            {t("about.dscText1.part1")}
            <strong>{t("SamdechAkkaMohaSenaPadeiTechoHunSen")}</strong>{
              t("about.dscText1.part2")
            }
          </TextElement>
          <TextElement variant="body" className="pb-6 text-justify">
            {t("about.dscText2")}
          </TextElement>
          <ul class="list-disc pb-6 pl-10">
            <li>
              <TextElement variant="body"
                >{t("about.committeeList1")}</TextElement
              >
            </li>
            <li>
              <TextElement variant="body"
                >{t("about.committeeList2")}</TextElement
              >
            </li>
            <li>
              <TextElement variant="body"
                >{t("about.committeeList3")}</TextElement
              >
            </li>
          </ul>
          <TextElement variant="body" className="pb-6 text-justify">
            {t("about.dscText3.part1")}
            <strong> {t("SamdechAkkaMohaSenaPadeiTechoHunSen")}</strong>{
              t("about.dscText3.part2")
            }
          </TextElement>
        </header>
      </section>
      <section aria-labelledby="vision">
        <Vision />
      </section>
      <section aria-labelledby="mission">
        <Mission />
      </section>
      <section aria-label={"Role and Responsibilites "}>
        <TextElement
          variant="subheading"
          className="pb-6 text-center text-primary lg:text-3xl"
        >
          {t("about.roleResponsibilities")}
        </TextElement>
        <TextElement variant="body" className="text-center">
          {t("about.roleResponsibilitiesText")}
        </TextElement>
        <AboutList abouts={roles} className="sm:grid-cols-2 lg:grid-cols-3" />
      </section>
    </div>
  </Main>
</OrganizationLayout>
