---
import { ButtonLink } from "@/components/ButtonLink";
import TextElement from "@/components/TextElement";

import type { SupportedLanguage } from "@/i18n/ui";

interface Props {
  title: string;
  body: string;
  href: string;
  date: string;
  lang: SupportedLanguage;
}

const { title, href, lang, date } = Astro.props as Props;
---

<article
  itemscope
  itemtype="https://schema.org/Article"
  class="flex h-full flex-col rounded-lg border bg-card p-5 text-card-foreground shadow-sm"
>
  <div class="flex grow flex-col gap-2">
    <time
      itemprop="datePublished"
      class="text-left text-mptc-secondary-foreground"
      datetime={new Date(date).toISOString()}
    >
      {
        new Date(date).toLocaleDateString(lang, {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </time>
    <TextElement variant="body" itemProp="description">
      {title}
    </TextElement>
  </div>
  <div class="pt-5">
    <ButtonLink
      href={href}
      className="w-full"
      itemProp="url"
      aria-label="Read full decree"
    >
      Read full decree
    </ButtonLink>
  </div>
</article>
